{{ $config := .Site.Data.config }}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>
			{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			{{ if .IsHome }}
					{{ .Site.Title }}
			{{ else if .Params.heading }}
					{{ .Params.heading }}
			{{ else }}
					{{ .Title }} | {{ .Site.Title }}
			{{ end }}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<link rel="icon" href="{{ .Site.BaseURL }}images/favicon.webp">
	<!-- Including Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- Including custom styles -->
	<link id="LTT"  rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/styles.css">
	<!-- Dark mode stylesheet -->
	<link disabled id="dark-mode-theme" rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/dark_styles.css">
	<!-- Including google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
	<!-- Font awesome -->
	<script src="https://kit.fontawesome.com/8d552508d5.js" crossorigin="anonymous"></script>

	<!-- Meta tags -->
	<meta name="author" content="{{ $config.author }}">
	<meta name="theme-color" content="#000000">

	{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" />
	{{ end -}}
		
	{{ partial "seo_schema.html" . }}

</head>
<body class="clearfix">
