html {
	background-color: #000000 !important;
  }
  
  html {
	filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(105%);
	-webkit-filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(105%);
  }
  
  body {
	background-color: #FFF !important;
  }
  
  img,
  video,
  body * [style*="background-image"],
  embed[type="application/x-shockwave-flash"],
  object[type="application/x-shockwave-flash"] {
	filter: hue-rotate(180deg) contrast(100%) invert(100%);
	-webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
  }
  